<!doctype html>
<html>
    <head>
        <title>Django</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <meta charset="utf-8">
        <link href="carousel.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/chatgpt/">ChatGPT API 사용</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signlanguagetochatgpt/">수어-ChatGPT 연동</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/selfchatgpt/">self-ChatGPT 연동</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/selfsignlanguagetochatgpt/">self수어-ChatGPT 연동</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        </div>
        <div class="container">
            <main class="px-3">
                  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbCulBt%2FbtqArSVerDS%2FUvkFR2Zd52OvklzPvngKZk%2Fimg.png" class="bd-placeholder-img" width="100%" height="500" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <div class="container">
                          <div class="carousel-caption text-start">
                            <h1>Example headline.</h1>
                            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="https://www.djangoproject.com/">Learn more</a></p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://new.atsit.in/wp-content/uploads/2023/04/gpt-5eab080-ecb69cec8b9ceb9098eb8298ec9a94-gpt-5eb8a94-ec96b8eca09c-ecb69cec8b9ceb9098eb8298ec9a94.jpg" class="bd-placeholder-img" width="100%" height="500" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <div class="container">
                          <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="/chatgpt/">Learn more</a></p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://open-shelf.ca/wp-content/uploads/2023/08/ChatGPT-scaled-700x400@2x.jpg" class="bd-placeholder-img" width="100%" height="500" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <div class="container">
                          <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="/signlanguagetochatgpt/">Browse gallery</a></p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://alphaenginyeria.com/wp-content/uploads/2023/01/Chat-GPT-%C2%BFQue-es-y-para-que-sirve.jpg" class="bd-placeholder-img" width="100%" height="500" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <div class="container">
                          <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="/selfchatgpt/">Browse gallery</a></p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://microdestek.com.tr/wp-content/uploads/2023/01/open.png" class="bd-placeholder-img" width="100%" height="500" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <div class="container">
                          <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="/selfsignlanguagetochatgpt/">Browse gallery</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </main>
          </div>
          <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 KT AIVLE 2반 5조</p>
          
                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                </a>
          
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">김동현</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">명재홍</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">배상민</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">유지현</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">정동진</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">황교석</a></li>
                </ul>
            </footer>
        </div>
    </body>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
